body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ede7cf;
  color: #827055;
  font-weight: normal;
}

.tables {
  width: 1100px;
  padding: 10px;
  background-color: #d4ceb0;
  align-self: normal;
  border-color: #6b5a5a;
  border-width: 2px;
  border-style: solid;
  margin: 0 auto;
}

thead {
  background-color: #c6bfa7;
}

td {
  border-bottom-color: #6b5a5a;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.titles {
  color: #6b5a5a;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 70px;
}

#contact {
  position: relative;
  bottom: -230px;
  text-align: left;
}
